APP_ID=........
APP_SECRET=.........
REDIRECT_URI=https://5563-49-207-207-28.ngrok-free.app/redirect
TEST_ACCESS_TOKEN=..........
TEST_INSTA_ID=.............
GROQ_API_KEY=.......................
TEST_MEDIA_ID=..................